div{
    display: block;
    width: 600px;
    height: 20px;
    font-size: large;
    margin-bottom: 5px;
    padding: 5px 0px 5px 0px;
}

.solid{
    border: thick solid;
    background-color: hotpink;
}

.dashed{
    border: thick dashed;
    background-color: #3689f7;
}

.dotted{
    border: thick dotted;
    background-color: rgb(130, 90, 224);
}

.double{
    border: thick double;
    background-image: url("https://amymhaddad.s3.amazonaws.com/morocco-blue.png");
}

.groove{
    background-image: url("background.jpg");
    border: thick groove rgb(7, 172, 163);
}

.ridge{
    border: thick ridge rgb(7, 172, 163);
}

.outset{
    border: thick outset rgb(7, 172, 163);
}

.inset{
    border: thick inset rgb(7, 172, 163);
}